<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
     <appender name="infoAppender"
          class="ch.qos.logback.core.rolling.RollingFileAppender">
          <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
               <level>debug</level>
          </filter>
          <File>/tmp/akka-sample/all.log</File>
          <Append>true</Append>
          <encoder>
               <pattern>[%d{HH:mm:ss.SSS}][%-5level][%logger{0}] - %msg%n</pattern>
               <pattern>%d{HH:mm:ss.SSS} %-5level %logger{0} %class{0} %line - %msg%n</pattern>
          </encoder>
 
          <triggeringPolicy
               class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
               <maxFileSize>30MB</maxFileSize>
          </triggeringPolicy>
 
          <rollingPolicy
               class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
               <fileNamePattern>/tmp/akka-sample/all.%d{yyyy-MM-dd}.%i.log
               </fileNamePattern>
               <maxFileSize>30MB</maxFileSize>
               <maxHistory>3</maxHistory>
          </rollingPolicy>
     </appender>
 
 
     <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
          <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder
               by default -->
          <!-- <filter class="ch.qos.logback.classic.filter.LevelFilter"> <level>INFO</level>
               <onMatch>ACCEPT</onMatch> <onMismatch>ACCEPT</onMismatch> </filter> -->
          <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
               <level>INFO</level>
          </filter>
          <encoder>
               <pattern>%d{HH:mm:ss.SSS} %-5level -[%class{0}.java:%line] %thread %logger{0} - %msg%n</pattern>
          </encoder>
     </appender>
 
     <root level="INFO">
          <appender-ref ref="STDOUT" />
          <appender-ref ref="infoAppender" />
     </root>
</configuration>